@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

.swiper {
  margin: 0 !important;
}

.swiper:hover {
  .swiper-pagination {
    opacity: 1;
  }
}

.swiper-pagination {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3px !important;
  border-radius: 50px;
}

.swiper-pagination-bullet {
  background-color: white !important;
}
